
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Employee", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        <br />
        @Html.ActionLink("Book a room", "Display", "Room")
        <br/>
        @Html.ActionLink("Cancel a room","Index","Booking")
    }

}
